
---
import BaseLayout from "../layouts";
const sectionTitle = "Player 1";

---
<!-- Player and Opponent sections -->
<section class="player">
    <h2>{sectionTitle}</h2>
    <div class="options">
      <div class="column">
        <button on:click={() => handlePoint("winner")}>Winner (Forehand)</button>
        <button on:click={() => handlePoint("winner")}>Winner (Backhand)</button>
        <button on:click={() => handlePoint("winner")}>Winner (Net)</button>
      </div>
      <div class="column">
        <button on:click={() => handlePoint("error")}>Error (Forehand)</button>
        <button on:click={() => handlePoint("error")}>Error (Backhand)</button>
        <button on:click={() => handlePoint("error")}>Error (Net)</button>
      </div>
    </div>
</section>