---
// Pont.asto
import PlayerSection from "../components/PlayerSection.astro";
import Header from "../components/Header.astro";


---

<div>
    <h1>I'm wondering</h1>
    <button id="tgt">Click me</button>
</div>
  <script>
    const tgt = document.querySelector("#tgt");
    tgt.addEventListener("click", () => {
      console.log("Hello, on client");
    });
  </script>

<Header />
<PlayerSection sectionName="Player"/>

<PlayerSection sectionName="Opponent"/>

<script>
    // Example JavaScript logic in point.astro

    // Import your MongoDB functions here
    //import { updatePoint } from '../../../backend/controllers/pointController.js';
    //import { updateGame } from '../../../backend/controllers/gameController.js';


    // Handle user interactions and MongoDB updates
    //function handlePoint(player, pointType) 
    //{
    // Update the score based on the pointType (e.g., "Player 1", "Player 2", "Double Fault")
    //updatePoint(player, pointType);

    // Update game progress if needed
    //updateGame(player);
    //}

</script>
