---
// Pont.asto
import PlayerSection from "../components/PlayerSection.astro";
import Header from "../components/Header.astro";


---

<div>
    <h1>I'm wondering</h1>
    <button id="tgt">Click me</button>
</div>
  <script>
    const tgt = document.querySelector("#tgt");
    tgt.addEventListener("click", () => {
      console.log("Hello, on client");
    });
  </script>

<Header />
<PlayerSection playerName="Jim Jimers"/>

<PlayerSection playerName="Opponent"/>
